body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

button {
  cursor: pointer;
}

.meme-header {
  padding: 1rem;
  background: linear-gradient(90deg, rgb(148, 51, 238) 1.18%, #a626d3 100%);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.meme__form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 2rem;
  border-radius: 10px;
}

.meme__button {
  grid-column: 1 /-1;
  background: linear-gradient(90deg, rgb(148, 51, 238) 1.18%, #a626d3 100%);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.2rem;
}

.meme__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme__image {
  max-width: 100%;
  margin: 0 auto;
}

.practice__container {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
